@import './base.css';

:root {
  --header-height: 105.44px;
  --footer-height: 55px;
}

#app {
  min-height: 100dvh;
  font-weight: normal;
}

.limiter {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

@media (min-width: 600px) {
  :root {
    --header-height: 115.09px;
  }
}

@media (min-width: 768px) {
  :root {
    --header-height: 96px;
    --footer-height: 63px;
  }
}

@media (min-width: 1024px) {
  :root {
    --header-height: 110px;
    --footer-height: 75.7px;
  }
}
